@page "/"
<!--from c# but we can communicate with server to put that in a function go get data from somewhere-->
@inject HttpClient HttpClient
<!--help the app automatically navigated to the "order details" display for that order-->
@inject NavigationManager NavigationManager
<!--The Scoped unit-of-work from Program.cs-->
@inject OrderState OrderState
@inject IJSRuntime JS
<!--This Division takes individual special pizza from the list and apply the same appearance rule
    to all of them to represent them with hover effects, images, descriptions, and prizes.-->
@* Here I need to check the card effect howw they achieve that *@

<div class="main">
    <ul class="pizza-cards">
        @if (specials != null)
        {
            @foreach (var special in specials)
            {
                <li @onclick="@(() => OrderState.ShowConfigurePizzaDialog(special))" style="background-image: url('@special.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@special.Name</span>
                        @special.Description
                        <span class="price">@special.GetFormattedBasePrice()</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

<!--right side pane for displaying the configured pizzas in the current order.-->

<div class="sidebar">
    @if (OrderState.Order.Pizzas.Any())
    {
        <div class="order-contents">
            <h2>Your order</h2>

            @foreach (var configuredPizza in OrderState.Order.Pizzas)
            {
                <ConfiguredPizzaItem Pizza="configuredPizza" OnRemoved="@(() => OrderState.RemoveConfiguredPizza(configuredPizza))" />
            }
        </div>
    }
    else
    {
        <div class="empty-cart">Choose a pizza<br>to get started</div>
    }

    <div class="order-total @(OrderState.Order.Pizzas.Any() ? "" : "hidden")">
        Total:
        <span class="total-price">@OrderState.Order.GetFormattedTotalPrice()</span>
        <a href="checkout" class="@(OrderState.Order.Pizzas.Count == 0 ? "btn btn-warning disabled" : "btn btn-warning")">
            Order >
        </a>
    </div>
</div>

<!--show the ConfigurePizzaDialog when a pizza special has been selected.
    The ConfigurePizzaDialog is styled to overlay the current page,
    so it doesn't really matter where you put this code block.-->
<!--Here ConfigurePizzaDialog tag refers to the page and
    referances the attributes at the page-->

@if (OrderState.ShowingConfigureDialog)
{
    <ConfigurePizzaDialog Pizza="OrderState.ConfiguringPizza"
                          OnCancel="OrderState.CancelConfigurePizzaDialog"
                          OnConfirm="OrderState.ConfirmConfigurePizzaDialog" />


}

<!--This code deals with the list, gethers from server using HTTP client and uses java async to see
    whether the list is upgraded or not. -->



@code{
    /// for tracking the pizza being customized and
    // whether the pizza customization dialog is visible

    List<PizzaSpecial> specials;
    Order Order => OrderState.Order;

    // When the OnConfirm event is fired, the customized pizza should be added to the user's order.
    // Add an Order field to the Index component to track the user's order. All it goes with
    // OrderState.Order

    protected override async Task OnInitializedAsync()
    {
        specials = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>("specials");
    }

    async Task RemovePizza(Pizza configuredPizza)
    {
        if (await JS.Confirm($"Remove {configuredPizza.Special.Name} pizza from the order?"))
        {
            OrderState.RemoveConfiguredPizza(configuredPizza);
        }
    }
}

